*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    /*position: relative;*/
    width: 100%;
    height: 100vh;
    background-image: url(images/wallpaper.png);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    
    
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 200px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0d3e10;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after{
    width: 100%;
}

.header-text {
    margin-top: 10%;
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
    position: relative; /* Added for positioning the outline */
}

.header-text {
    margin-top: 10%;
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
    position: relative;
}

.header-text h1 {
    font-size: 62px;
    margin-top: 20px;
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
}

.header-text h1 span.box {
    background: linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);
    border: 1px solid #ffffff;
    border-radius: 1px;
    padding: 5px 10px; /* Adjust padding for the box */
    position: relative;
    z-index: 1; /* Ensure the box is above the number */
}

.header-text h1 span.number {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 8px;
    padding: 3px 5px;
    border-radius: 1px;
    color: #fff;
}

.explore-button {
    display: inline-block;
    padding: 15px 30px;
    background: linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 50px;
    transition: background-color 0.3s ease-in-out;
    border: 1px solid #ffffff;
    
}

.explore-button:hover {
    background: linear-gradient(130deg, #5cbd97 0%, #275f24 100%, #404040 90%);
}
/* -------------About------------ */
#about{
    width: 100%;
    height: 100vh;
    background-image: url(images/wallpaper2.jpg);
    margin-top: 16%;
}

.about-title {
    text-align: center;
    font-size: 60px; /* Adjust the font size as needed */
    color: #fff; /* Text color */
    padding-top: 5%; /* Adjust the margin-top for positioning */
}

.about-title span.box {
    background: linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);
    border: 1px solid #ffffff;
    border-radius: 1px;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
}

.about-title span.number {
    font-size: 8px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 3px 5px;
    border-radius: 1px;
    color: #fff;
}

.about-container {
    max-width: 50%; /* Adjust the maximum width */
    margin: 0 auto; /* Center the content horizontally */
    padding: 20px;
    background: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background for readability */
    border-radius: 5px;
    margin-top: 2%
}

.about-container p {
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
}
.explore-button2 {
    display: inline-block;
    padding: 15px 30px;
    background: linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    left: 50%; /* Position the button 50% from the left */
    transform: translateX(-50%); /* Center the button using a negative translateX */
    transition: background-color 0.3s ease-in-out;
    border: 1px solid #ffffff;
    margin-top: 50px;
}


.explore-button2:hover {
    background: linear-gradient(130deg, #5cbd97 0%, #275f24 100%, #404040 90%);
}

/* ----------Characters---------- */

#characters {
    /* width: 100%;
    height: 200vh;
    background-image: url(images/wallpaper3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat; */
}

/* Add this to your CSS file */
.characters-title {
    text-align: center;
    font-size: 70px; /* Adjust the font size as needed */
    color: #fff; /* Text color */
    padding-top: 5%; /* Adjust the margin-top for positioning */
    padding-bottom: 5%;;
}

.characters-title span.box {
    background: linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);
    border: 1px solid #ffffff;
    border-radius: 1px;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
}

.characters-title span.number {
    font-size: 8px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 3px 5px;
    border-radius: 1px;
    color: #fff;
}

/* Style the tab links */
.tablinks {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding around the tab links */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-right: 10px; /* Adjust spacing between tab links */
    font-size: 20px;
    border-radius: 1px;
}

/* Style the tab links on hover */
.tablinks:hover {
    background-color: #555; /* Background color on hover */
}

/* Style the tab links when active (selected) */
.tablinks.active {
    background: linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);}


/* Center-align the tablinks using Flexbox */
.character-tabs {
    display: flex;
    justify-content: center; /* Horizontally center-align */
    align-items: center; /* Vertically center-align */
    margin-top: 2%;
}

.character-content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    margin-top: none;
}


/* Style the character container */
.character-list .character {
    display: flex; /* Use flexbox to control the layout */
    flex-direction: row; /* Display the elements in a row layout */
    align-items: center; /* Center-align items vertically */
    margin-bottom: 10%; /* Adjust spacing between characters */
}

/* Style the character image */
.character-list .character img {
    max-width: 40%; /* Adjust the image size as needed */
    margin-right: 10px; /* Adjust spacing between image and text */
}

/* Style the character text container */
.character-list .character .character-text {
    flex: 1; /* Allow the text container to expand and fill remaining space */
    display: flex; /* Use flexbox for text container */
    flex-direction: column; /* Display name and info in a column layout */
}

/* Style the character name */
.character-list .character .character-text h4 {
    font-size: 24px; /* Adjust font size as needed */
    color: #fff; /* Text color */
    text-align: center; /* Center-align the character name */
}

/* Style the character info text */
.character-list .character .character-text p {
    margin: 0; /* Remove default margins */
    font-size: 18px; /* Adjust font size as needed */
    color: #f5f5f5; /* Change the text color to make it easier to read */
    line-height: 1.5; /* Adjust line height for better readability */
    text-align: center; /* Center-align the character info text */
    padding-top: 50px; /* Add padding between name and info text */
}

