*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(to bottom right, #080808, #111111);
    color: #fff;
}

#header{
    /*position: relative;*/
    width: 100%;
    height: 110vh;
    background-image: url(images/wallpaper.png);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    
    
}


.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 200px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0d3e10;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after{
    width: 100%;
}

.header-text {
    margin-top: 10%;
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
    position: relative; /* Added for positioning the outline */
}

.header-text {
    margin-top: 10%;
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
    position: relative;
}

.header-text h1 {
    font-size: 62px;
    margin-top: 20px;
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
}

.header-text h1 span.box {
    background: linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);
    border: 1px solid #ffffff;
    border-radius: 1px;
    padding: 5px 10px; /* Adjust padding for the box */
    position: relative;
    z-index: 1; /* Ensure the box is above the number */
}

.header-text h1 span.number {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 8px;
    padding: 3px 5px;
    border-radius: 1px;
    color: #fff;
}

.explore-button {
    display: inline-block;
    padding: 15px 30px;
    background: linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 50px;
    transition: background-color 0.3s ease-in-out;
    border: 1px solid #ffffff;
    
}

.explore-button:hover {
    background: linear-gradient(130deg, #5cbd97 0%, #275f24 100%, #404040 90%);
}
/* -------------About------------ */
#about{
    width: 100%;
    height: 100vh;
    background-image: url(images/wallpaper2.jpg);
    padding: 0 10%;  /* Add horizontal padding */
}

.about-title {
    text-align: center;
    font-size: 60px; /* Adjust the font size as needed */
    color: #fff; /* Text color */
    padding-top: 5%; /* Adjust the margin-top for positioning */
}

.about-title span.box {
    background: linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);
    border: 1px solid #ffffff;
    border-radius: 1px;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
}

.about-title span.number {
    font-size: 8px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 3px 5px;
    border-radius: 1px;
    color: #fff;
}

.about-container {
    
    padding: 20px;
    background: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background for readability */
    border-radius: 5px;
    margin-top: 2%
}

.about-container p {
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
}
.explore-button2 {
    display: inline-block;
    padding: 15px 30px;
    background: linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    left: 50%; /* Position the button 50% from the left */
    transform: translateX(-50%); /* Center the button using a negative translateX */
    transition: background-color 0.3s ease-in-out;
    border: 1px solid #ffffff;
    margin-top: 50px;
}


.explore-button2:hover {
    background: linear-gradient(130deg, #5cbd97 0%, #275f24 100%, #404040 90%);
}

/* Grid layout */
.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2%; 
    margin-top: 20px; 
    align-items: start;  /* Align the items to the start of their grid area */
}


.description {
    padding-right: 10%;  /* Adjust the value as needed */
}

.trailer {
    padding-left: 10%;  /* Adjust the value as needed */
}


.trailer iframe {
    margin-top: 2%;
    width: 100%;
    border: none;
}

.source-icons {
    margin-top: 20px;    /* Add some space between the trailer and icons */
    text-align: center;  /* Center the icons horizontally */
    font-size: 100px;     /* Adjust size of the icons */
}

.source-icons i {
    margin: 0 10px;      /* Add some space between each icon */
    cursor: pointer;     /* Change cursor to hand on hover to indicate it's clickable */
    transition: 0.3s;    /* Smooth transition for any hover effects */
}

.source-icons i:hover {
    color: #46a08c;      /* Change color on hover, adjust as needed */
}

a .fa-brands {
    color: white;
    text-decoration: none; /* This will remove any underlines that appear on hover */
}


/* ----------Characters---------- */

#characters{
    background-color: #0a0a0a;
}

/* Add this to your CSS file */
.characters-title {
    text-align: center;
    font-size: 70px; /* Simplify the font size */
    color: #fff;
    padding: 5% 0;
}

.characters-title span.box {
    background: linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);
    border: 1px solid #ffffff;
    border-radius: 1px;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
}

.characters-title span.number {
    font-size: 8px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 3px 5px;
    border-radius: 1px;
    color: #fff;
}

.character-info {
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 1.5;

}

.character-info a  {
        color:#46a08c;
        text-decoration: none; /* Remove underline */
    }



/* Style the tab links */
.tablinks {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding around the tab links */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-right: 10px; /* Adjust spacing between tab links */
    font-size: 20px;
    border-radius: 2px;
}

/* Style the tab links on hover */
.tablinks:hover {
    background-color: #555; /* Background color on hover */
}

/* Style the tab links when active (selected) */
.tablinks.active {
    background: linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);}


/* Center-align the tablinks using Flexbox */
.character-tabs {
    display: flex;
    justify-content: center; /* Horizontally center-align */
    align-items: center; /* Vertically center-align */
    margin-top: 2%;
}

.character-content {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    margin-top: none;
}

.character-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 2 equal columns */
    gap: 20px; /* Adjust this value to change spacing between grid items */
    margin: 20px 0; /* Add some space around the entire gallery for better spacing */
}


/* Style the character container */
.character-list .character {
    
    margin-bottom: 5%; /* Adjust spacing between characters */
}

/* Style the character image */
.character-list .character img {
    max-width: 40%; /* Adjust the image size as needed */
    margin-right: 10px; /* Adjust spacing between image and text */
    border-radius: 1%;
}

/* Style the character text container */
.character-list .character .character-text {
    flex: 1; /* Allow the text container to expand and fill remaining space */
    display: flex; /* Use flexbox for text container */
    flex-direction: column; /* Display name and info in a column layout */
}

/* Style the character name */
.character-list .character .character-text h4 {
    font-size: 24px; /* Adjust font size as needed */
    color: #fff; /* Text color */
    text-align: center; /* Center-align the character name */
}

/* Style the character info text */
.character-list .character .character-text p {
    margin: 0; /* Remove default margins */
    font-size: 18px; /* Adjust font size as needed */
    color: #f5f5f5; /* Change the text color to make it easier to read */
    line-height: 1.5; /* Adjust line height for better readability */
    text-align: center; /* Center-align the character info text */
    padding-top: 20px; /* Add padding between name and info text */
}

/* -------- Episodes --------- */

#episodes{
    background-color: #141414;
}

.episodes-title {
    text-align: center;
    font-size: 70px; /* Adjust the font size as needed */
    color: #fff; /* Text color */
    padding-top: 5%; /* Adjust the margin-top for positioning */
    padding-bottom: 5%;;
}

.episodes-title span.box {
    background: linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);
    border: 1px solid #ffffff;
    border-radius: 1px;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
}

.episodes-title span.number {
    font-size: 8px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 3px 5px;
    border-radius: 1px;
    color: #fff;
}

/* Style the tab links */
.episode-tablinks {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding around the tab links */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-right: 10px; /* Adjust spacing between tab links */
    font-size: 20px;
    border-radius: 1px;
}

/* Style the tab links on hover */
.episode-tablinks:hover:hover {
    background-color: #555; /* Background color on hover */
}

/* Style the tab links when active (selected) */
.episode-tablinks.active.active {
    background: linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);}


/* Center-align the tablinks using Flexbox */
.episode-tabs {
    display: flex;
    justify-content: center; /* Horizontally center-align */
    align-items: center; /* Vertically center-align */
    margin-top: 2%;
}

.episode-content {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    margin-top: none;
}

.episode-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 2 equal columns */
    gap: 20px; /* Adjust this value to change spacing between grid items */
    margin: 20px 0; /* Add some space around the entire gallery for better spacing */
}

.episode-list .episode {
    display: flex; /* Use flexbox to control the layout */
    flex-direction: row; /* Display the elements in a row layout */
    align-items: center; /* Center-align items vertically */
    margin-bottom: 10%; /* Adjust spacing between characters */
}

/* Style the character image */
.episode-list .episode img {
    max-width: 40%; /* Adjust the image size as needed */
    margin-right: 10px; /* Adjust spacing between image and text */
    border-radius: 1%;
}

/* Style the character text container */
.episode-list .episode .episode-text {
    flex: 1; /* Allow the text container to expand and fill remaining space */
    display: flex; /* Use flexbox for text container */
    flex-direction: column; /* Display name and info in a column layout */
    margin-left: 5%;
}

/* Style the character name */
.episode-list .episode .episode-text h4 {
    font-size: 24px; /* Adjust font size as needed */
    color: #fff; /* Text color */
    text-align: center; /* Center-align the character name */
}

/* Style the character info text */
.episode-list .episode .episode-text p {
    margin: 0; /* Remove default margins */
    font-size: 18px; /* Adjust font size as needed */
    color: #f5f5f5; /* Change the text color to make it easier to read */
    line-height: 1.5; /* Adjust line height for better readability */
    text-align: center; /* Center-align the character info text */
    padding-top: 20px; /* Add padding between name and info text */
}

.rating img {
    width: 4%; /* Set the desired width for the star */
    height: 4%; /* Set the desired height for the star */
    padding-bottom: 4px;
}

.rating {
    padding-left: 2%;
}



/* <-------------Gallery-----------> */
#gallery{
    background-color: #0a0a0a;
}

.gallery-title {
    text-align: center;
    font-size: 70px; /* Adjust the font size as needed */
    color: #fff; /* Text color */
    padding-bottom: 5%;;
}

.image-gallery {
    margin-top: 1%;
}
.gallery-title span.box {
    background: linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);
    border: 1px solid #ffffff;
    border-radius: 1px;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
}

.gallery-title span.number {
    font-size: 8px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 3px 5px;
    border-radius: 1px;
    color: #fff;
}

.slideshow-container {
    max-width: 50%;
    position: relative;
    margin: auto;
  }
  
  .imageSlides {
    display: none;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Navigation Arrows */
  a.prev, a.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  a.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
  }

  a.prev {
    left: 0px;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .image-container {
    position: relative;
    width: 100%;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);  /* Semi-transparent black */
    color: white;
    text-align: center;
    padding: 10px 0;
    opacity: 0;                            /* Initially hide the caption */
    transition: opacity 0.3s ease;         /* Smooth transition effect */
}

.image-container .caption {
    opacity: 1;                            /* Show the caption on hover */
}

/* Thumbnails for Navigation */
.slideshow-thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnail {
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.thumbnail img {
    width: 50px; /* adjust based on desired thumbnail size */
    height: 50px;
    opacity: 0.6; /* make non-active thumbnails a bit transparent */
    object-fit: cover; /* This will crop the image to fit the container while maintaining its aspect ratio */
    object-position: center; /* This ensures the center of the image is always visible */
    transition: opacity 0.3s ease;
}

.thumbnail.active img, .thumbnail:hover img {
    opacity: 1; /* active/hovered thumbnail fully opaque */
    transform: scale(1.1); /* Slightly scale up on hover or when active */
}

.quote-audio-gallery {
    background-color: #141414;  /* Adds a background color */
    color: #fff;  /* Changes the text color */
    padding: 20px;  /* Adds some spacing inside the container */
    margin: 20px 0;  /* Adds spacing above and below the container */
}

.quote-audio-gallery h2 {
    text-align: center;  /* Centers the heading text */
    font-size: 28px;  /* Adjusts the font size of the heading */
    margin-bottom: 20px;  /* Adds space below the heading */
}

.quote-item {
    display: flex; /* Convert this container into a flex container */
    flex-direction: column; /* Arrange children vertically */
    align-items: center; /* Center the child elements horizontally */
    height: 100%; /* Make sure it takes the full height */
    text-align: center;
}


.quote-item blockquote {
    flex: 1;
    font-style: italic;  /* Makes the quote italic */
    font-size: 20px;  /* Adjusts the font size of the quote */
    margin-bottom: 20px;  /* Adds space below the quote */
    margin-inline: 10%;
}

.quote-item audio {
    width: 50%;  /* Makes the audio player take up 80% of the container's width */
    margin: 0 auto;  /* Centers the audio player */
}


.quote-item cite {
    text-align: right; /* Right-aligns the text */
    font-style: normal; /* Overrides the default italic styling of cite */
    font-weight: bold; /* Makes the text bold */
    margin-top: auto; /* Push the cite towards the audio player */
    margin-bottom: 15px; /* Adds some spacing below the cite and above the audio player */
    font-size: 16px; /* Adjusts the font size */
    color: #33da01; /* Changes the color to a slightly lighter shade of white for differentiation */
    margin-inline: 10%;
}

.quote-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divides the container into two columns with equal width */
    gap: 200px; /* Defines the space between grid items */
    margin: 20px 0; /* Add some space around the entire gallery for better spacing */
}


.video-item{
    margin-top: 2%;
}

.video-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the size based on your preference */
    gap: 20px; /* Space between each video item */
    padding: 20px;
}

.video-item {
    position: relative;
}

.video-item iframe {
    width: 100%; /* To ensure that the video takes the full width of the grid item */
    border: none;
}

.text {
    text-align: center;
    margin-top: 10px; /* Adjust based on your design preference */
}

.video-header {
    text-align: center;
    font-size: 24px; /* Adjust font size as desired */
    margin-bottom: 20px; /* Add some space between the header and the videos */
}
/* <--------Trivia----------> */
#trivia{
    background-color: #141414;
}

.trivia-title {
    text-align: center;
    font-size: 70px; /* Adjust the font size as needed */
    color: #fff; /* Text color */
    padding-top: 5%; /* Adjust the margin-top for positioning */
}

/* ... other styles ... */

.quiz-container {
    width: 550px;
    padding: 20px;
    margin-top: 80px;
    background-color: #3a3a3a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: auto;
}

.quiz-container h1 {
    text-align: center;
    color: #028122;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}


.question {
    font-weight: bold;
    margin-bottom: 10px;
}

.options {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}


.option {
    display: flex; /* Makes child elements display in a line */
    align-items: center; /* Vertically aligns the radio and text */
    margin-bottom: 10px;
}

.option input[type="radio"] {
    margin-right: 10px; /* Adjust the value as needed */
}

/* This part here */
.quiz-container .quiz-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.quiz-container .quiz-button:hover {
    background-color: #3071a9;
}

.result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.hide {
    display: none;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust based on your preference */
    gap: 20px; /* Space between each fact item */
    margin-bottom: 20px; /* Space between facts and the quiz */
   padding-inline: 20%;
   padding-top: 5%;
   padding-bottom: 5%;
}

.fact-item {
    display: flex;             /* Convert container to flexbox */
    justify-content: center;  /* Center content horizontally */
    align-items: center;      /* Center content vertically */
    border: 1px solid #ccc;
    padding: 10px;
    background: linear-gradient(to top, #031400, #002e00af);
    text-align: center;      /* For textual content alignment */
    flex-direction: column;  /* Stack items vertically if there are multiple items, if not this won't change anything */
}


@media only screen and (max-width: 600px) {
    #header{
        height: 210vh;
    }
    #about{
        background-size: cover;
        background-repeat: no-repeat;
        height: 210vh;      
    }
  }